<form (ngSubmit)="myForm.valid && onSubmit()" #myForm="ngForm">
    <div>
        Form submitted ? {{myForm.submitted}}
        Form valid ? {{myForm.valid}}
        Form invalid ? {{myForm.invalid}}
    </div>
    <div>
        <label for="firstName">FirstName</label>
        <input 
            name="firstName"
            type="text"
            [(ngModel)]="user.firstName"
            #firstName="ngModel"
            required minlength="3"
            required maxlength="15"
            required
        >
    </div>
    <div *ngIf="myForm.submitted && firstName.errors">
        <span *ngIf="firstName.errors ?.['required']">Le prénom est requis</span>
        <span *ngIf="firstName.errors ?.['minlength']">la longueur minimal doit etre superieur à 3</span>
        <span *ngIf="firstName.errors ?.['maxlength']">la longueur maximal doit etre inferieur à 15</span>
    </div>
    <div>
        <label for="lastName">LastName</label>
        <input 
            name="lastName"
            type="text"
            [(ngModel)]="user.lastName"
            #lastName="ngModel"
            required minlength="3"
            required maxlength="15"
            required
        >
    </div>
    <div *ngIf="myForm.submitted && lastName.errors">
        <span *ngIf="lastName.errors ?.['required']">Le nom est requis</span>
        <span *ngIf="lastName.errors ?.['minlength']">la longueur minimal doit etre superieur à 3</span>
        <span *ngIf="lastName.errors ?.['maxlength']">la longueur maximal doit etre inferieur à 15</span>
    </div>
    <div>
        <label for="email">email</label>
        <input 
            name="email"
            type="email"
            [(ngModel)]="user.email"
            #email="ngModel"
            required email
            required
        >
    </div>
    <div *ngIf="myForm.submitted && email.invalid">
        <span *ngIf="email.errors ?.['email']">l'email n'est pas valide</span>
    </div>
    <div>
        <label for="password">PassWord</label>
        <input 
            name="password"
            type="password"
            [(ngModel)]="user.password"
            required
        >
    </div>
    <button type="submit">enregistrer</button>
    
</form>
